<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load staticfiles %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <title>{% block title %}Home Page{% endblock %}</title>
</head>
<body>

    {% if user.is_authenticated %}
        <ul>
            <li>
            <form action="{% url 'accounts:logout' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <button type="submit">Logout</button>
            </form>
            </li>
            <li><a href="{% url 'classifier:upload' %}">Upload image</a></li>
        </ul>

        <h2>User Name: {{ user.username }}</h2>
        <h3>User ID: {{ user.id }}</h3><br>

    {% else %}
        <ul>
            <li><a href="{% url 'accounts:login' %}">Login</a></li>
            <li><a href="{% url 'accounts:registration' %}">New User</a></li>
        </ul>
    {% endif %}


{% block body %}
{% endblock %}

</body>
</html>